<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


  <title>Hello, world!</title>
</head>
<body>
<header class="mainheader">
  <div class="container">
    <div class="row h-100">
      <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
        <img src="../assets/img/logo.png" height="33" width="231"/></div>
      <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
        <h5 class="text-white">High performance software development</h5>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container bg-white">
  <section>
    <div class="container p-5">
      <img id="mainImg" src="../assets/img/img.png"/>
      <h2 class="my-3">Larger item heading</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur, cum cumque eaque error explicabo
        illum
        itaque maxime nemo, neque optio perferendis praesentium ratione reprehenderit similique sint ut! Aliquam aperiam
        cumque deserunt eius et exercitationem facilis fugiat inventore, labore laborum molestias quae qui quis
        reiciendis
        repudiandae soluta velit. Sint?</p>
      <button type="button" class="btn btn-dark">Details</button>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row p-3">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <img src="../assets/img/simg.png">
          <h5 class="my-2">Small item</h5>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolore minima nesciunt tempore? Laudantium maxime natus perferendis quae qui. Nostrum.
          <button type="button" class="btn btn-dark d-block my-3">Details</button>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <img src="../assets/img/simg.png">
          <h5 class="my-2">Small item</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum in iste maxime officiis pariatur reprehenderit vel. Ab esse pariatur quae.</p>
          <button type="button" class="btn btn-dark d-block my-3">Details</button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row p-3">
        <div class="col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
          <img src="../assets/img/ad 1.png" />
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
          <img src="../assets/img/ad 1.png"/>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
          <img src="../assets/img/ad 1.png"/>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container p-5">
      <h2>Blog Post Title One</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolores esse, expedita explicabo, fugit hic
        incidunt magnam mollitia nisi sapiente, suscipit temporibus unde voluptas? Commodi ducimus esse reprehenderit
        saepe temporibus.</p>
      <button type="button" class="btn btn-dark d-block mt-3">Details</button>
      <h2 class="mt-5">Blog Post Title One</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolores esse, expedita explicabo, fugit hic
        incidunt magnam mollitia nisi sapiente, suscipit temporibus unde voluptas? Commodi ducimus esse reprehenderit
        saepe temporibus.</p>
      <button type="button" class="btn btn-dark d-block mt-3">Details</button>
    </div>
  </section>
  </div>
</main>

<footer class="mainfootter">
  <div class="container d-flex social p-1">
    <h2 class="m-auto">STAY CONNECTED</h2>
    <ul class="list-unstyled d-flex align-items-center m-auto">
      <li class="p-1"><a><img src="../assets/img/social/dribbble.png" height="34" width="34"/></a></li>
      <li class="p-1"><a><img src="../assets/img/social/facebook.png" height="34" width="34"/></a></li>
      <li class="p-1"><a><img src="../assets/img/social/flickr.png" height="34" width="34"/></a></li>
      <li class="p-1"><a><img src="../assets/img/social/google +.png" height="34" width="34"/></a></li>
      <li class="p-1"><a><img src="../assets/img/social/linkedin.png" height="34" width="34"/></a></li>
      <li class="p-1"><a><img src="../assets/img/social/pinterest.png" height="34" width="34"/></a></li>
      <li class="p-1"><a><img src="../assets/img/social/rss.png" height="34" width="34"/></a></li>
      <li class="p-1"><a><img src="../assets/img/social/twitter.png" height="34" width="34"/></a></li>
    </ul>
  </div>
  <div class="container bg-dark p-3">
    <div class="row ">
      <div class="col-sm-9 col-md-9 col-lg-9 text-white">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi aspernatur at aut commodi culpa
          delectus dignissimos dolores doloribus enim esse et ex excepturi hic magni minima nam necessitatibus, nulla
          pariatur perspiciatis qui quo reprehenderit repudiandae rerum sed tempore voluptates.</p>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 text-white">
        <ul class="list-unstyled">
          <li><i class="fas fa-angle-right"></i><a href=""></a> Quick Link One</li>
          <li><i class="fas fa-angle-right"></i><a href=""></a> Quick Link Two</li>
          <li><i class="fas fa-angle-right"></i><a href=""></a> Quick Link Three</li>
          <li><i class="fas fa-angle-right"></i><a href=""></a> Quick Link Four</li>
        </ul>
      </div>
    </div>
    <hr color="white">
    <div class="row text-secondary no-gutters">
      <p class="mr-auto">Copyright 2015 <span class="text-white">SoftGroup.</span>All Rights Reserved</p>
      <p>View Online | Unsubscribe</p>
    </div>
  </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
